<!-- <div class="grid grid-cols-3 grap-8">
  <div class="border-2 border-red-500 p-4">
    <img [src]="student.imageUrl" alt="" />
    <h2>{{ student.name }}</h2>
    <p>{{ student.status ? "Còn đi học" : "Bỏ học" }}</p>
    <hr />
    Student Name: {{ student.name }}
    <button class="bg-blue-500 p-3 rounded text-white" (click)="setName('Dat')">
      Change Name
    </button>
    <input
      type="text"
      (input)="onHandleInput($event)"
      class="border-2 border-red-500 p-2"
    />
    <input
      type="text"
      [(ngModel)]="student.name"
      class="border-2 border-blue-500 p-2"
    />
  </div>
</div> -->
<!-- 
const [name, setName] = useState('john doe'); //jsx {name}
<button onClick="() => setName('Dat')">Change name</button> -->
<app-products/>